body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-avatar-lg {
  width: 150px;
  height: 150px;
}

/* Nav Component style starts here */
.app-navbar.ui.stackable.menu {
  height: 60px;
}

.app-navbar .ui.avatar.image {
  width: 3em;
  height: 3em;
}

.app-navbar .active {
  font-weight: 600 !important;
}
/* Nav Component style ends here */